@page
@model LogicSolver.Web.Pages.IndexModel
@{
    // var productName = "Logic Solver";
    ViewBag.Title="Home Page";
}
  <h1>Logic Solver</h1>
  <p>Logic Solver was inspired by A Tesla-themed puzzle book.</p>