<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logic Solver - @ViewBag.Title</title>
</head>
<body>
    <header>Logic Solver</header>
    <div>
        @RenderBody()
    </div>
    <footer>&copy; 2026 IraNye</footer>
</body>
</html>
