<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logic Solver - @ViewBag.Title</title>
    <style>
        body {
            background-color: moccasin;
        }
    </style>
    @RenderSection("header", false)
</head>
<body>
    <header><h1>Logic Solver</h1></header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Contact">Contact</a></li>
        <li><a href="/LogicGrid">LogicGrid</a></li>
    </ul>
    <div>
        @RenderBody()
    </div>
    <br/>
    <footer>&copy; 2026 IraNye</footer>
    @RenderSection("scripts", false)
</body>
</html>
